.footer__address__box {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 231px;
}

.footer__join {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 206px;
	margin-left: 70px;
}

.join__text {
	margin-bottom: 20px;	
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--additional-color);
}

.join__list {
	display: flex;
	justify-content: center;
	padding-left: 0;
	gap: 10px;
}

.join__soc__link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--additional-color);
	background-color: var(--color-f-i);

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	/* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */

&:hover, &:focus {
	fill: var(--additional-color);
	background-color:var(--accent-color);
	border-color: transparent;
}
}
