.header {
border: 1px solid var(--header-border-color);
}

.nav {
	margin-right: auto;
}

.nav__list {
	display: flex;
	padding-left: 0px;
}

.nav__item:not(:last-child) {
	margin-right: 50px;
}

.nav__link {
	position: relative;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color:var(--second-color);

	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
	color: var(--accent-color);
}

	&:focus {
	color: var(--accent-color);
	background-color: transparent;
	box-shadow: none;	
}
}
