.team {
	background-color: var(--background-color-team);
	
}
.team__title {
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--second-color);

	text-align: center;
	margin-bottom: 50px;
}

.team__item {
	background-color: var(--additional-color);

	text-align: center;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team__list {
	display: flex;
	gap: 30px;
	padding-left: 0px;

}

.team__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: var(--second-color);

	margin-bottom: 10px;
}

.team__name__box {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team__job__title {
	margin-bottom: 16px;
}
.team__soc {
	display: flex;
	justify-content: center;
	padding-left: 0%;
	gap: 10px;
}

.team__soc__link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--color-icon);

	transition-property: fill, background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
	fill: var(--additional-color);
	background-color: var(--accent-color)
}
	&:focus {
	fill: var(--additional-color);
	background-color: var(--accent-color)
}
}