:root {
	--first-color:#757575;
	--second-color:#212121;
	--additional-color:#FFFFFF;
	--accent-color:#2196f3;
	--logo-color: #000000;
	--background-color-h-f: #2F303A;
	--hero-button-hover: #188CE8;
	--background-color-team: #F5F4FA;
	--tel-mail-color: rgba(255, 255, 255, 0.6);
	--header-border-color:#ECECEC;
	--portfolio-border-color: #EEEEEE;
	--background-color-icon: #F5F4FA;
	--color-icon: #AFB1B8;
	--color-footer-icon: rgba(255, 255, 255, 0.1);
	--color-f-i: rgba(255, 255, 255, 0.1);
	
	}